<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('app_home') }}"> Home</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_news_index') }}"> News</a>
        </li>
        </ul>
    </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <span class="navbar-brand">{{ app.user.email }}</span>
        <a class="navbar-brand" class="btn btn-danger" href="{{ path('app_logout') }}"> Logout</a>
    {% else %}
        <span class="navbar-brand">You are not logged</span>
        <a class="navbar-brand" class="btn btn-danger" href="{{ path('app_login') }}"> Login</a>
    {% endif %}
</nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
    
</html>
